<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">

<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>

<body>


	<section>

		<div class="container">

			<div class="container col-md-9 offset-md-1.5 mt-2">

				<div th:if="${session.message}"
					th:classappend="${session.message.type}" class="alert text-center"
					role="alert">
					<p class="text-center" th:text="${session.message.content}"></p>
				</div>

			</div>

			<div class="row">


				<div class="col-md-8 offset-md-2">

					<div class="card">


						<div class="card-body">

							<h3>Change Password</h3>

							<form th:action="@{/forgot-process-password}" method="post">

								<!--   new password field -->

								<div class="form-group mt-3">

									<input required="required" type="password" id="newPassword" class="form-control"
										name="newPassword" placeholder="Enter new password" /> <i
										class="fa-regular fa-eye-slash" id="toggleNew"
										style="position: absolute; right: 20px; top: 35.50%; transform: translateY(-50%); cursor: pointer;"></i>

								</div>

								<!--   confirm new password field -->

								<div class="form-group my-3">

									<input required="required" type="password" class="form-control"
										name="confirmPassword" id="confirmPassword"
										placeholder="Confirm new password" /> <i
										class="fa-regular fa-eye-slash" id="toggleConfirm"
										style="position: absolute; right: 20px; top: 58.50%; transform: translateY(-50%); cursor: pointer;"></i>


								</div>

								<!-- button field -->

								<div class="container text-center mt-4">

									<button type="submit" class="btn bg-primary text-white ml-2">Change Password</button>

									<!-- <button type="reset" class="btn btn-warning text-white ms-2">Reset</button> -->

								</div>


							</form>

						</div>

					</div>

				</div>

			</div>

		</div>




		<!-- <script>
			document.addEventListener("DOMContentLoaded", () => {

				document.querySelectorAll(".item").forEach(el => {

					el.classList.remove("active");
				});

				document.getElementById("settings-link").classList.add("active");

			});

		</script> -->


	</section>

</body>

</html>